<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-Da-Burger!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row container-margin">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {{{ body }}}
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row ">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form class="create-form">

                    <div class="form-group">

                        <input style="margin-left: 80px" type="text" id="ca" name="burger">




                        <button style="margin-left: 80px" type="submit" class="btn btn-success btn-sm">Add
                            Burger</button>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>

</html>