<h1 style="color:lightsalmon">Eat-Da-Burger!</h1>


<div class="row">
    <div class="col-md-12">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 style="color:lightsalmon">Devoured</h4>

        <ul>

            {{#each burgers}}
            {{#if devoured}}

            {{> burgers/burger-block devoured=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>